In [9]:
import pandas as pd
import numpy as np

from pyspark import SparkContext
from pyspark.sql import SparkSession

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [21]:
train_df = pd.read_csv('../input/train.csv', nrows=2000000)

In [22]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

# Check completeness

In [23]:
for c in train_df.columns:
    missing_rate = np.sum(train_df[c].isna())/len(train_df[c])
    print('{:<20} : {}'.format(c, missing_rate))

key                  : 0.0
fare_amount          : 0.0
pickup_datetime      : 0.0
pickup_longitude     : 0.0
pickup_latitude      : 0.0
dropoff_longitude    : 7e-06
dropoff_latitude     : 7e-06
passenger_count      : 0.0

Only a tiny fraction of rows have missing values. We can safely drop those rows.

In [25]:
train_df = train_df.dropna()

In [27]:
print('Sample size after dropping NA: {}'.format(train_df.shape[0]))

Sample size after dropping NA: 1999986